@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab:400,600&display=swap&subset=latin-ext');
:root {
  --default-fs: 17px;
  --color-Light4: #C7DDF3;
  --color-Blue1: #892890;
  --color-LightPurple: #B78BBF;
  --color-Light1: #EEF4FB;
  --color-Blue2: #0671B0;
  --color-Crimson: #DA1F3D;
  --color-Light2: #E6E7E8;
  --color-LightBlue: #5BACDF;
  --color-Orange: #F58220;
  --color-Light3: #F2F9F2;
  --color-Blue3: #0089CF;
  --color-LightOrange: #FCBC86;
  --color-Gray1: #58595B;
  --color-Pink2: #9A53A1;
  --color-Green1: #0DB14B;
  --ff-serif: 'Roboto Slab', serif;
  --ff-sans: 'Roboto Condensed', sans-serif;
}

.color-Light4 {
  color: var(--color-Light4);
}

.color-Blue1 {
  color: var(--color-Blue1);
}

.color-LightPurple {
  color: var(--color-LightPurple);
}

.color-Light1 {
  color: var(--color-Light1);
}

.color-Blue2 {
  color: var(--color-Blue2);
}

.color-Crimson {
  color: var(--color-Crimson);
}

.color-Light2 {
  color: var(--color-Light2);
}

.color-LightBlue {
  color: var(--color-LightBlue);
}

.color-Orange {
  color: var(--color-Orange);
}

.color-Light3 {
  color: var(--color-Light3);
}

.color-Blue3 {
  color: var(--color-Blue3);
}

.color-LightOrange {
  color: var(--color-LightOrange);
}

.color-Gray1 {
  color: var(--color-Gray1);
}

.color-Pink2 {
  color: var(--color-Pink2);
}

.color-Green1 {
  color: var(--color-Green1);
}

.color-black {
  color: Black;
}

.color-white {
  color: White;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.bg-Light4 {
  background-color: var(--color-Light4);
}

.bg-Blue1 {
  background-color: var(--color-Blue1);
}

.bg-LightPurple {
  background-color: var(--color-LightPurple) !important;
}

.bg-Light1 {
  background-color: var(--color-Light1);
}

.bg-Blue2 {
  background-color: var(--color-Blue2);
}

.bg-Crimson {
  background-color: var(--color-Crimson);
}

.bg-Light2 {
  background-color: var(--color-Light2);
}

.bg-LightBlue {
  background-color: var(--color-LightBlue);
}

.bg-Orange {
  background-color: var(--color-Orange);
}

.bg-Light3 {
  background-color: var(--color-Light3);
}

.bg-Blue3 {
  background-color: var(--color-Blue3);
}

.bg-LightOrange {
  background-color: var(--color-LightOrange);
}

.bg-Gray1 {
  background-color: var(--color-Gray1);
}

.bg-Pink2 {
  background-color: var(--color-Pink2);
}

.bg-Green1 {
  background-color: var(--color-Green1);
}

.bg-White {
  background-color: White;
}

.font-serif {
  font-family: var(--ff-serif);
}

.font-sans {
  font-family: var(--ff-sans);
}

.text-xl, .fs_16pt {
  /* font-size: 24px; */
  font-size: calc(var(--default-fs) * 1.5);
}

.text-lg, .fs_14pt {
  /* font-size: 20px; */
  font-size: calc(var(--default-fs) * 1.4);
}

.fs_12pt {
  /* font-size: 16px; */
  font-size: var(--default-fs);
}

.text-sm, .fs_11pt {
  font-size: 13px;
  font-size: calc(var(--default-fs) * .9);
}

.text-xs, .fs_10pt {
  font-size: 12px;
  font-size: calc(var(--default-fs) * .83);
}

body {
  font-family: var(--ff-sans);
  font-size: var(--default-fs);
  color: var(--color-Gray1);
  background-color: WhiteSmoke;
}

#page {
  max-width: 980px;
  background-color: White;
}

/*   PRINT  */

@media print {
  body {
    background-color: transparent;
  }
  #page {
    max-width: 100%;
  }
  #footer {
    page-break-after: always;
  }
}

/* Components */

.section {
  margin: 1em 0;
}

.section_title {
  font-family: var(--ff-serif);
  font-size: 14px;
  display: inline-block;
  padding: 1ex;
  margin: 0;
}

.section_body {
  padding: 1em !important;
  line-height: 1.4;
}

.section_body p {
  margin-bottom: .5ex;
}

.input_wrapper {}

.fake-input {}

ul.list-square {
  padding: 0;
  /* list-style-type: square; */
  list-style: none;
}

ul.list-square li::before {
  content: "\25aa";
  font-size: 1.4em;
  line-height: 1;
  color: var(--color-LightPurple);
}

.table-white-border * {
  border-color: white !important;
}

.height_100 {
  height: 100%;
}

/* sau cu :last-of-type() */

.row-label:not(.label_last):after {
  content: 'x';
  position: absolute;
  margin-left: 1em;
  display: block;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid var(--color-Blue1);
}